.main-menu__link {
  color: $black;
}

.main-menu__item {
  padding: 22px 69px;
  text-align: center;
  border: 1px $gray solid;
  font-family: $font;
  font-weight: $medium;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-menu-item--main {
  padding: 22px 122px;
}

.main-menu--hide {
  display: none;
}

@media (min-width: 768px) {
  .main-menu--hide {
    display: block;
  }

  .main-menu__list {
    display: inline-flex;
    align-items: center;
  }

  .main-menu__item {
    padding: 0;
    border: none;
    margin-right: 29px;
    padding-top: 24px;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
  }

  .main-menu-item:last-child {
    margin: 0;
  }

  .main-menu__link:active {
    border-bottom: 2px solid #68b738;
  }
}
