//Colors
$white: #ffffff;
$black:  #444444;
$green: #68b738;
$h2-color: #111111;
$gray: #E6E6E6;

//Font
$font: "Oswald";

//Size
$h2: 36px;
$h3: 24px;
$body-size: 14px;

//Weight
$font-weight: 400px;
$medium: 500px;

//L-height
$line-height: 18px;
$h2-height: 60px;
$h3-height: 36px;